@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* #region Fonts  */
  /* #region Import fonts */
  /* Use these font as tailwind classes (included as tailwind extend config)
  and also are included in the layer component (in our custom font classes). */
  /*Headers */
  @font-face {
    font-family: 'Linotte-Semibold';
    font-weight: 600;
    font-style: normal;
    src: url('./assets/fonts/linotte-semibold-webfont.woff2') format('woff2');
  }
  /* Body1, body2 */
  @font-face {
    font-family: 'Inter-Regular';
    font-weight: 400;
    font-style: normal;
    src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
  }
  /* Subtitle1 (emphasize text less than a headline) */
  @font-face {
    font-family: 'Inter-SemiBold';
    font-weight: 600;
    font-style: normal;
    src: url('./assets/fonts/Inter-SemiBold.woff2') format('woff2');
  }

  /* Overline(text introduce headline), subtitle2 (emphasize text less important than headline)*/
  @font-face {
    font-family: 'Inter-Bold';
    font-weight: 700;
    font-style: normal;
    src: url('./assets/fonts/Inter-Bold.woff2') format('woff2');
  }
  /* Caption(text under img)*/
  @font-face {
    font-family: 'Inter-Light';
    font-weight: 300;
    font-style: normal;
    src: url('./assets/fonts/Inter-Light.woff2') format('woff2');
  }
  /* Secondary: button and links */
  @font-face {
    font-family: 'OpenSans-SemiBold';
    font-weight: 600;
    font-style: normal;
    src: url('./assets/fonts/OpenSans-SemiBold.woff2') format('woff2');
  }
  /* #endregion Import fonts */

  /* Body1 or the default font style */
  body {
    font-size: 16px;
    font-feature-settings:
      'liga' 1,
      'calt' 1; /* fix for Chrome */
  }

  :root {
    /* Utopia type scale and spacing (for viewport and container).
  Min viewport 1920, máx viewport 2560. Use as tailwind classes 
  (included in tailwind config) and in other custom vars.*/

    /*overline*/
    --vfont--3: clamp(0.5805rem, 0.4651rem + 0.0962vw, 0.619rem);
    /*caption*/
    --vfont--2: clamp(0.7738rem, 0.4695rem + 0.2536vw, 0.8753rem);
    /*body2, subtitle2, secondary*/
    --vfont--1: clamp(1.0315rem, 0.4132rem + 0.5153vw, 1.2376rem);
    /*body, subtitle1, */
    --vfont-0: clamp(1.375rem, 0.25rem + 0.9375vw, 1.75rem);
    /* headers */
    --vfont-1: clamp(1.8329rem, -0.092rem + 1.6041vw, 2.4745rem);
    --vfont-2: clamp(2.4432rem, -0.7239rem + 2.6393vw, 3.4989rem);
    --vfont-3: clamp(3.2568rem, -1.8153rem + 4.2267vw, 4.9475rem);
    --vfont-4: clamp(4.3413rem, -3.622rem + 6.6361vw, 6.9958rem);
    --vfont-5: clamp(5.787rem, -6.5281rem + 10.2626vw, 9.892rem);

    /* Usually only add top and left margin */
    --vspace-3xs: clamp(0.375rem, 0.1875rem + 0.1563vw, 0.4375rem);
    --vspace-2xs: clamp(0.6875rem, 0.125rem + 0.4688vw, 0.875rem);
    --vspace-xs: clamp(1.0625rem, 0.3125rem + 0.625vw, 1.3125rem);
    --vspace-s: clamp(1.375rem, 0.25rem + 0.9375vw, 1.75rem);
    --vspace-m: clamp(2.0625rem, 0.375rem + 1.4063vw, 2.625rem); /*also gutter*/
    --vspace-l: clamp(2.75rem, 0.5rem + 1.875vw, 3.5rem);
    --vspace-xl: clamp(4.125rem, 0.75rem + 2.8125vw, 5.25rem);
    --vspace-2xl: clamp(5.5rem, 1rem + 3.75vw, 7rem);
    --vspace-3xl: clamp(8.25rem, 1.5rem + 5.625vw, 10.5rem);
    /* One-up pairs */
    --vspace-3xs-2xs: clamp(0.375rem, -1.125rem + 1.25vw, 0.875rem);
    --vspace-2xs-xs: clamp(0.6875rem, -1.1875rem + 1.5625vw, 1.3125rem);
    --vspace-xs-s: clamp(1.0625rem, -1rem + 1.7188vw, 1.75rem);
    --vspace-s-m: clamp(1.375rem, -2.375rem + 3.125vw, 2.625rem);
    --vspace-m-l: clamp(2.0625rem, -2.25rem + 3.5938vw, 3.5rem);
    --vspace-l-xl: clamp(2.75rem, -4.75rem + 6.25vw, 5.25rem);
    --vspace-xl-2xl: clamp(4.125rem, -4.5rem + 7.1875vw, 7rem);
    --vspace-2xl-3xl: clamp(5.5rem, -9.5rem + 12.5vw, 10.5rem);
    /* Custom pairs */
    --vspace-s-l: clamp(1.375rem, -5rem + 5.3125vw, 3.5rem);
    --vspace-m-xl: clamp(2.0625rem, -7.5rem + 7.9687vw, 5.25rem);
    --vspace-l-2xl: clamp(2.75rem, -10rem + 10.625vw, 7rem);
    --vspace-xs-m: clamp(1.0625rem, -3.625rem + 3.9063vw, 2.625rem);
    /* Line height 
    TODO: header line height*/
    --vlineheight-headers: 1.2;
    --vlineheight-font0: clamp(2.2rem, 0.625vw + 1.45rem, 2.45rem);
    --vlineheight-font-1: clamp(1.65rem, 0.206vw + 1.403rem, 1.733rem);
    --vlineheight-font-2: clamp(1.313rem, -0.201vw + 1.634rem, 1.393rem);
    --vlineheight-font-3: clamp(0.928rem, -0.292vw + 1.396rem, 1.045rem);

    /* #region Container custom vars */
    /* cqi for scrollable or resizable containers like grid, flex... */
    --cfont--3: clamp(0.5805rem, 0.4651rem + 0.0962cqi, 0.619rem);
    --cfont--2: clamp(0.7738rem, 0.4695rem + 0.2536cqi, 0.8753rem);
    --cfont--1: clamp(1.0315rem, 0.4132rem + 0.5153cqi, 1.2376rem);
    --cfont-0: clamp(1.375rem, 0.25rem + 0.9375cqi, 1.75rem);
    --cfont-1: clamp(1.8329rem, -0.092rem + 1.6041cqi, 2.4745rem);
    --cfont-2: clamp(2.4432rem, -0.7239rem + 2.6393cqi, 3.4989rem);
    --cfont-3: clamp(3.2568rem, -1.8153rem + 4.2267cqi, 4.9475rem);
    --cfont-4: clamp(4.3413rem, -3.622rem + 6.6361cqi, 6.9958rem);
    --cfont-5: clamp(5.787rem, -6.5281rem + 10.2626cqi, 9.892rem);

    --cspace-3xs: clamp(0.375rem, 0.1875rem + 0.1563cqi, 0.4375rem);
    --cspace-2xs: clamp(0.6875rem, 0.125rem + 0.4688cqi, 0.875rem);
    --cspace-xs: clamp(1.0625rem, 0.3125rem + 0.625cqi, 1.3125rem);
    --cspace-s: clamp(1.375rem, 0.25rem + 0.9375cqi, 1.75rem);
    --cspace-m: clamp(2.0625rem, 0.375rem + 1.4063cqi, 2.625rem);
    --cspace-l: clamp(2.75rem, 0.5rem + 1.875cqi, 3.5rem);
    --cspace-xl: clamp(4.125rem, 0.75rem + 2.8125cqi, 5.25rem);
    --cspace-2xl: clamp(5.5rem, 1rem + 3.75cqi, 7rem);
    --cspace-3xl: clamp(8.25rem, 1.5rem + 5.625cqi, 10.5rem);

    /* One-up pairs */
    --cspace-3xs-2xs: clamp(0.375rem, -1.125rem + 1.25cqi, 0.875rem);
    --cspace-2xs-xs: clamp(0.6875rem, -1.1875rem + 1.5625cqi, 1.3125rem);
    --cspace-xs-s: clamp(1.0625rem, -1rem + 1.7188cqi, 1.75rem);
    --cspace-s-m: clamp(1.375rem, -2.375rem + 3.125cqi, 2.625rem);
    --cspace-m-l: clamp(2.0625rem, -2.25rem + 3.5938cqi, 3.5rem);
    --cspace-l-xl: clamp(2.75rem, -4.75rem + 6.25cqi, 5.25rem);
    --cspace-xl-2xl: clamp(4.125rem, -4.5rem + 7.1875cqi, 7rem);
    --cspace-2xl-3xl: clamp(5.5rem, -9.5rem + 12.5cqi, 10.5rem);

    /* Custom pairs */
    --cspace-s-l: clamp(1.375rem, -5rem + 5.3125cqi, 3.5rem);
    --cspace-m-xl: clamp(2.0625rem, -7.5rem + 7.9687cqi, 5.25rem);
    --cspace-l-2xl: clamp(2.75rem, -10rem + 10.625cqi, 7rem);
    /* #endregion Container custom vars */
  }

  /* Min viewport 320, max viewport 1920. */
  @media (width < 1920px) {
    :root {
      --vfont--3: clamp(0.7023rem, 0.6837rem + 0.0934vw, 0.7957rem);
      --vfont--2: clamp(0.7901rem, 0.7572rem + 0.1647vw, 0.9549rem);
      --vfont--1: clamp(0.8889rem, 0.8375rem + 0.2569vw, 1.1458rem);
      --vfont-0: clamp(1rem, 0.925rem + 0.375vw, 1.375rem);
      --vfont-1: clamp(1.125rem, 1.02rem + 0.525vw, 1.65rem);
      --vfont-2: clamp(1.2656rem, 1.1228rem + 0.7144vw, 1.98rem);
      --vfont-3: clamp(1.4238rem, 1.2334rem + 0.9522vw, 2.376rem);
      --vfont-4: clamp(1.6018rem, 1.3519rem + 1.2494vw, 2.8512rem);
      --vfont-5: clamp(1.802rem, 1.4782rem + 1.6194vw, 3.4214rem);

      --vspace-3xs: clamp(0.25rem, 0.225rem + 0.125vw, 0.375rem);
      --vspace-2xs: clamp(0.5rem, 0.4625rem + 0.1875vw, 0.6875rem);
      --vspace-xs: clamp(0.75rem, 0.6875rem + 0.3125vw, 1.0625rem);
      --vspace-s: clamp(1rem, 0.925rem + 0.375vw, 1.375rem);
      --vspace-m: clamp(1.5rem, 1.3875rem + 0.5625vw, 2.0625rem);
      --vspace-l: clamp(2rem, 1.85rem + 0.75vw, 2.75rem);
      --vspace-xl: clamp(3rem, 2.775rem + 1.125vw, 4.125rem);
      --vspace-2xl: clamp(4rem, 3.7rem + 1.5vw, 5.5rem);
      --vspace-3xl: clamp(6rem, 5.55rem + 2.25vw, 8.25rem);

      /* One-up pairs */
      --vspace-3xs-2xs: clamp(0.25rem, 0.1625rem + 0.4375vw, 0.6875rem);
      --vspace-2xs-xs: clamp(0.5rem, 0.3875rem + 0.5625vw, 1.0625rem);
      --vspace-xs-s: clamp(0.75rem, 0.625rem + 0.625vw, 1.375rem);
      --vspace-s-m: clamp(1rem, 0.7875rem + 1.0625vw, 2.0625rem);
      --vspace-m-l: clamp(1.5rem, 1.25rem + 1.25vw, 2.75rem);
      --vspace-l-xl: clamp(2rem, 1.575rem + 2.125vw, 4.125rem);
      --vspace-xl-2xl: clamp(3rem, 2.5rem + 2.5vw, 5.5rem);
      --vspace-2xl-3xl: clamp(4rem, 3.15rem + 4.25vw, 8.25rem);

      /* Custom pairs */
      --vspace-s-l: clamp(1rem, 0.65rem + 1.75vw, 2.75rem);
      --vspace-m-xl: clamp(1.5rem, 0.975rem + 2.625vw, 4.125rem);
      --vspace-l-2xl: clamp(2rem, 1.3rem + 3.5vw, 5.5rem);
      /* Gutter */
      --vspace-xs-m: clamp(0.75rem, 0.4875rem + 1.3125vw, 2.0625rem);

      /* line length */
      --vlineheight-font5: clamp(2.342rem, 1.079vw + 2.127rem, 3.421rem);
      --vlineheight-font0: clamp(1.6rem, 0.325vw + 1.535rem, 1.925rem);
      --vlineheight-font-1: clamp(1.422rem, 0.182vw + 1.386rem, 1.604rem);
      --vlineheight-font-2: clamp(1.422rem, 0.01vw + 1.42rem, 1.432rem);
      --vlineheight-font-3: clamp(1.193rem, -0.071vw + 1.279rem, 1.265rem);
      /* #region Container custom vars */
      /* cqi for scrollable or resizable containers like grid, flex... */
      --cfont--3: clamp(0.7023rem, 0.6837rem + 0.0934cqi, 0.7957rem);
      --cfont--2: clamp(0.7901rem, 0.7572rem + 0.1647cqi, 0.9549rem);
      --cfont--1: clamp(0.8889rem, 0.8375rem + 0.2569cqi, 1.1458rem);
      --cfont-0: clamp(1rem, 0.925rem + 0.375cqi, 1.375rem);
      --cfont-1: clamp(1.125rem, 1.02rem + 0.525cqi, 1.65rem);
      --cfont-2: clamp(1.2656rem, 1.1228rem + 0.7144cqi, 1.98rem);
      --cfont-3: clamp(1.4238rem, 1.2334rem + 0.9522cqi, 2.376rem);
      --cfont-4: clamp(1.6018rem, 1.3519rem + 1.2494cqi, 2.8512rem);
      --cfont-5: clamp(1.802rem, 1.4782rem + 1.6194cqi, 3.4214rem);

      --cspace-3xs: clamp(0.25rem, 0.225rem + 0.125cqi, 0.375rem);
      --cspace-2xs: clamp(0.5rem, 0.4625rem + 0.1875cqi, 0.6875rem);
      --cspace-xs: clamp(0.75rem, 0.6875rem + 0.3125cqi, 1.0625rem);
      --cspace-s: clamp(1rem, 0.925rem + 0.375cqi, 1.375rem);
      --cspace-m: clamp(1.5rem, 1.3875rem + 0.5625cqi, 2.0625rem);
      --cspace-l: clamp(2rem, 1.85rem + 0.75cqi, 2.75rem);
      --cspace-xl: clamp(3rem, 2.775rem + 1.125cqi, 4.125rem);
      --cspace-2xl: clamp(4rem, 3.7rem + 1.5cqi, 5.5rem);
      --cspace-3xl: clamp(6rem, 5.55rem + 2.25cqi, 8.25rem);

      /* One-up pairs */
      --cspace-3xs-2xs: clamp(0.25rem, 0.1625rem + 0.4375cqi, 0.6875rem);
      --cspace-2xs-xs: clamp(0.5rem, 0.3875rem + 0.5625cqi, 1.0625rem);
      --cspace-xs-s: clamp(0.75rem, 0.625rem + 0.625cqi, 1.375rem);
      --cspace-s-m: clamp(1rem, 0.7875rem + 1.0625cqi, 2.0625rem);
      --cspace-m-l: clamp(1.5rem, 1.25rem + 1.25cqi, 2.75rem);
      --cspace-l-xl: clamp(2rem, 1.575rem + 2.125cqi, 4.125rem);
      --cspace-xl-2xl: clamp(3rem, 2.5rem + 2.5cqi, 5.5rem);
      --cspace-2xl-3xl: clamp(4rem, 3.15rem + 4.25cqi, 8.25rem);

      /* Custom pairs */
      --cspace-s-l: clamp(1rem, 0.65rem + 1.75cqi, 2.75rem);
      --cspace-m-xl: clamp(1.5rem, 0.975rem + 2.625cqi, 4.125rem);
      --cspace-l-2xl: clamp(2rem, 1.3rem + 3.5cqi, 5.5rem);
      /* #endregion Container custom vars */
    }
  }
  /* #endregion Fonts  */

  /* #region Color  */
  :root {
    /* Values of custom vars, change color values here */
    --back-dark: #232946;
    --back-light: #d4d8f0;
    --head-dark: #fffffe;
    --head-light: #232946;
    --p-dark: #b8c1ec;
    --p-light: #232946;
    --link-dark: #fffffe;
    --link-light: #232946;
    --hover-dark: #eebbc3;
    --hover-light: #eebbc3;

    --card-back-dark: #fffffe;
    --card-back-light: #fffffe;
    --card-head-dark: #232946;
    --card-head-light: #232946;
    --card-p-dark: #232946;
    --card-p-light: #232946;
    --card-highlight-dark: #d4939d;
    --card-highlight-light: #d4939d;
    --card-tag-background-dark: #b8c1ec;
    --card-tag-background-light: #232946;
    --card-tag-text-dark: #232946;
    --card-tag-text-light: #fffffe;

    --button-back: #232946;
    --button-text: #fffffe;
    --button-hover-bg: #eebbc3;
    --button-hover-text: #232946;

    --form-background: #fffffe;
    --form-input: #fffffe;
    --form-labelplaceholder: #232946;

    --icons-stroke: #121629;
    --icons-main: #b8c1ec;
    --icons-highlight: #eebbc3;
    --icons-secondary: #fffffe;
    --icons-tertiary: #eebbc3;

    --footer-background: #232946;
    --footer-headline: #fffffe;
    --footer-paragraph: #b8c1ec;
    --footer-links: #eebbc3;
    --footer-hover: #eebbc3;

    /* tailwind config custom vars with dark values */
    --color-bg: var(--back-dark);
    --color-head: var(--head-dark);
    --color-paragraph: var(--p-dark);
    --color-link: var(--link-dark);
    --color-hover: var(--hover-dark);

    --color-card-bg: var(--card-back-dark);
    --color-card-heading: var(--card-head-dark);
    --color-card-text: var(--card-p-dark);
    --color-card-highlight: var(--card-highlight-dark);
    --color-card-tag-bg: var(--card-tag-background-dark);
    --color-card-tag-text: var(--card-tag-text-dark);

    --color-button: var(--button-back);
    --color-button-text: var(--button-text);
    --color-button-hover-bg: var(--button-hover-bg);
    --color-button-hover-text: var(--button-hover-text);

    --color-form-background: var(--form-background);
    --color-form-input: var(--form-input);
    --color-form-labelplaceholder: var(--form-labelplaceholder);

    --color-icons-stroke: var(--icons-stroke);
    --color-icons-main: var(--icons-main);
    --color-icons-highlight: var(--icons-highlight);
    --color-icons-secondary: var(--icons-secondary);
    --color-icons-tertiary: var(--icons-tertiary);
    --color-footer-background: var(--footer-background);
    --color-footer-headline: var(--footer-headline);
    --color-footer-paragraph: var(--footer-paragraph);
    --color-footer-links: var(--footer-links);
    --color-footer-hover: var(--footer-hover);
  }

  @media (prefers-color-scheme: light) {
    :root {
      /* tailwind config custom vars with light values */
      --color-bg: var(--back-light);
      --color-head: var(--head-light);
      --color-paragraph: var(--p-light);
      --color-link: var(--link-light);
      --color-card-bg: var(--card-back-light);
      --color-card-heading: var(--card-head-light);
      --color-card-text: var(--card-p-light);
      --color-card-highlight: var(--card-highlight-light);
      --color-card-tag-bg: var(--card-tag-background-light);
      --color-card-tag-text: var(--card-tag-text-light);
      --color-hover: var(--hover-light);
    }
  }
  /* #endregion Color  */

  /* #region Topic  */
  /* Related with a specific topic or functionality.
  Use in tailwind configuration, so if we don´t like
  some value, we just need to change the value here 
  (because we always use the same var for the same thing).*/
  :root {
    --default-top-margin: var(--vspace-m-l); /* Generally only use top and left margin */
    --container-default-padding: var(--vspace-l-xl);
    --header-default-padding: var(--vspace-l-xl);
    --min-height-nav: var(--vspace-l);
    --min-height-footer: var(--vspace-l);
    --footer-top-margin: var(--vspace-m-l);

    /*
    Fluid grid to work as visual align tester, also
    to get the root-grid-gutter. This gutter can be used inside grid,
    but also as padding for root element that are not full width.
    Min viewport of 1920px and max viewport of 2560px.
    */
    --root-grid-max-width: 160rem;
    --root-grid-gutter: var(--vspace-m, clamp(2.0625rem, 0.375rem + 1.4063vw, 2.625rem));
    --root-grid-columns: 12;

    /* Customs still not added to tailwind  */
    --section-spacing: var(--vspace-xl);
    --card-padding: var(--vspace-s);
    --button-padding: var(--vspace-2xs) var(--vspace-xs);
    --input-padding: var(--vspace-2xs) var(--vspace-xs);
    --list-item-spacing: var(--vspace-2xs);
    --grid-gap: var(--vspace-s);
    --inline-element-spacing: var(--vspace-2xs);
    --form-group-spacing: var(--vspace-m);
    --icon-size: var(--vspace-m);
    --border-radius: var(--vspace-3xs);
  }

  @media (width < 1920px) {
    /* Min viewport of 320px and max of 1920px.
    but at 1920 we will use the other root grid system.*/
    :root {
      --root-grid-max-width: 120rem;
      --root-grid-gutter: var(
        --vspace-xs-m,
        clamp(0.75rem, 0.4875rem + 1.3125vw, 2.0625rem)
      );
    }
  }
  /* #endregion Topic  */

  /* #region Default element configuration */
  body {
    @apply font-family-body bg-elements-background text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-family-display text-elements-headline;
  }

  button,
  a {
    @apply font-family-secondary;
  }

  figcaption,
  caption {
    @apply font-family-caption;
  }

  button {
    @apply bg-button-button text-button-buttontext tracking-[1.25px];
  }

  button:hover {
    @apply bg-button-hoverbutton text-button-hoverbutton;
  }

  a {
    @apply text-elements-link;
  }
  /* #endregion Default element configuration */
}

/* custom classes that we can rewrite with the utility classes manually */
@layer components {
  /*#region Fontstyles*/
  /* font styles according to viewport units, for container units add utility classes*/

  .v-font-headers {
    /* line height: 1.3 - 1 */
    @apply text-elements-headline font-family-display text-vfont-5 leading-[var(--vlineheight-headers)] tracking-[-1.5px];
  }

  .v-font-body1 {
    /* line height 1.6 - 1.4 */
    @apply text-elements-paragraph font-family-body text-vfont-0 leading-[var(--vlineheight-font0)] tracking-[0.5px];
  }

  .v-font-subtitle1 {
    /* line height 1.6 - 1.4 */
    @apply text-elements-paragraph font-family-subtitle text-vfont-0 leading-[var(--vlineheight-font0)] tracking-[0.15px];
  }

  .v-font-body2 {
    /* line height 1.6 - 1.4 */
    @apply text-elements-paragraph font-family-body text-vfont--1 leading-[var(--vlineheight-font-1)] tracking-[0.25px];
  }

  .v-font-subtitle2 {
    /* line height 1.6 - 1.4 */
    @apply text-elements-paragraph font-family-subtitletwo text-vfont--1 leading-[var(--vlineheight-font-1)] tracking-[0.1px];
  }

  /* needs to add letter spacing and color manually if needed (by default button is set) */
  .v-font-secondary {
    /* line height 1.6 - 1.4 */
    @apply text-elements-link font-family-secondary text-vfont--1 leading-[var(--vlineheight-font-1)];
  }

  .v-font-caption {
    /* line height: 1.8 - 1.5 */
    @apply font-family-caption text-vfont--2 leading-[var(--vlineheight-font-2)] tracking-[0.4px];
  }

  .v-font-overline {
    /* line height: 1.8 - 1.5 */
    @apply font-family-caption text-vfont--3 uppercase leading-[var(--vlineheight-font-3)] tracking-[1.5px];
  }

  /* Grid to control the line length and improve readability.
  By default it uses the body font size.
  Add another font size to the element that has this class 
  to rewrite font size, and that will change the em effect.
  Also add responsive inline paddings for texts.
  Can be used with img also and improve align.*/
  .line-length-grid {
    font-size: var(--vfont-0);
    display: grid;
    grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 34em) minmax(1.2rem, 1fr);
    grid-row-gap: 1em;
  }

  /* position text paragraphs into the second (middle) column */
  .p-line-length-grid {
    grid-column: 2;
  }
  /* position images to take up all three columns */
  .img-line-length-grid {
    grid-column: 1 / 4;
    width: 100%;
    max-width: 100ch;
    justify-self: center;
  }
  /*#endregion Fontstyles*/

  /* #region GridRootContainer */
  /*Wrapper for the grid or other root elements*/
  .root-container {
    @apply max-w-root-container;
    padding-inline: var(--root-grid-gutter);
    margin-inline: auto; /*over 2560px width use horizontally center */
    min-height: 100vh;
  }

  .root-grid {
    display: grid;
    gap: var(--root-grid-gutter);
    /*change the next according our needs*/
    height: 100%;
    grid-template-columns: repeat(var(--root-grid-columns), minmax(0, 1fr));
    /* color gutter gap */
    background-color: #ce9494;
  }

  .root-grid-item {
    /* column color */
    background-color: #d7d7d7;
    /* outline: 1px solid #ce9494; */
  }
  /* #endregion GridRootContainer */

  /* 
  Can see this effect in viewport over 2560px width.
  At least as height the viewport height - other elements that are not
  the root container(navbar,footer and vertically margin). 
  In little viewport the content is bigger than the viewport height so 
  the min height resolve that problem.
  Used in combination with flex, grow and center to align container 
  content vertically.
   */
  .container-full-height {
    --sum-elements: calc(
      var(--default-top-margin) + var(--min-height-nav) + var(--min-height-footer) +
        var(--footer-top-margin)
    );
    min-height: calc(100vh - var(--sum-elements));
    min-height: calc(100dvh - var(--sum-elements));
  }

  /* Styles from uk government style guide */
  .focused-input {
    border: 0.125rem solid #ffeb3b;
    box-shadow: inset 0 0 0 0.125rem;
    outline: 4px solid #ffeb3b;
    outline-offset: 0;
  }
}
